html {
    font-family: 'Italiana', serif;
    background-color: white;
    font-size: 16px;
}

html body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    background-color: #f8cfd0;
    color: black;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

nav img {
    float: left;
    width: 100px;
    height: auto;
}

nav ul {
    margin-left: auto;
    margin-right: 30px;
    float: right;
}

nav li {
    letter-spacing: 2px;
    display: inline;
    margin-left: 30px;
}

nav a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color:#498063;
    font-size: 18px;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

#home {
    font-size: 18px;
    text-decoration: underline;
    color: #498063;
}

.main-content {
    height: 500px;
    width: 100%;
    background-image: url("./resources/images/pink-salon.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.main-content .content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

.main-content h1 {
    font-size: 5rem;
    margin: auto;
    margin-left: 60px;
    color: white;
}

.main-content button {
    transition: all 0.5s ease;
    margin: auto;
    margin-right: 60px;
    height: 50px;
    color: white;
    padding: 1rem 3rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}

.main-content button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.5s ease;
}

.about {
    color: rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 100px;
    padding: 0px 15px;
}

.about .about-content {
    background-color: #f8cfd0;
    padding: 20px 40px;
}

.about .about-content p {
    width: 90%;
    letter-spacing: 2px;
    font-size: 18px;
}


.about .about-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.about .about-content .social-links {
    vertical-align: bottom;
}

.social-links img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.review-section {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 100px;
}

.reviews img {
    height: 50px;
    width: auto;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    column-gap: 70px;
    margin-right: 50px;
    margin-left: 50px;
}

.footer-section {
    padding: 70px 40px;
    background-color: #f8cfd0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
}

.footer-section h1 {
    text-align: center;
    margin-bottom: 50px;
}

.contact-us button {
    transition: all 0.5s ease;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
}

.contact-us p {
    margin-bottom: 30px;
}

.contact-us button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    transition: all 0.5s ease;
}

.location img {
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.portfolio {
    width: 100%;
}

.portfolio h1 {
    text-align: center;
}

.portfolio-images {
    padding: 0 15px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 80px;
    margin-bottom: 120px;
}

.portfolio-images img {
    width: 100%;
    object-fit: cover;
    height: 80vh;
}

.footer {
    width: 100%;
    background-color: #f8cfd0;
    text-align: center;
}

.footer-social-links {
    margin: 0 auto;
}

.footer-social-links img {
    width: 20px;
    height: 20px;
}

footer {
    margin: 0;
    padding: 0;
}

footer a {
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
}